/* variables */

:root {
  --primaryFont: 'Playfair Display', serif;
  --primaryColor: #FFFFFF;
  --secondaryColor: #000000;
  --offColor: #F2F6EE;
  --graphColorOne: #BDD1B6;
  --graphColorTwo: #BED4AC;
  --graphColorThree: #C0DF85;
  --graphColorFour: #8ADF68;
  --graphColorFive: #DEB986;
  --graphColorSix: #DB6C79;
}

body {
  font-family: var(--primaryFont);
}


#doseNav {
  background-color: var(--primaryColor);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  

}

.whiteText {
  color: var(--primaryColor);
}

.btn-close {
  background: transparent url("assets/images/X.png") center/1em auto no-repeat;
}

/* need a media query to adjust font size smaller on smaller screens */
.navTitle {
  font-size: 3.5rem;
  transition: all 0.3s ease-in-out 0s; 
}

.navTitle:hover
{
    cursor: url(assets/images/mushroom.png);
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

#home:hover {
  color: var(--graphColorOne);
}

#learn:hover {
  color: var(--graphColorThree);
}

#about:hover {
  color: var(--graphColorFive);
}

#dose:hover {
  color: var(--graphColorSix);
}

.loginLink:hover{
  color: #a6c0c2;
}

.loginContainer {
  position: absolute;
  bottom: 10px;
  
}


#offcanvasNavbar {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}