/* variables */

:root {
  --primaryFont: 'Playfair Display', serif;
  --primaryColor: #FFFFFF;
  --secondaryColor: #000000;
  --offColor: #F2F6EE;
  --graphColorOne: #BDD1B6;
  --graphColorTwo: #BED4AC;
  --graphColorThree: #C0DF85;
  --graphColorFour: #8ADF68;
  --graphColorFive: #DEB986;
  --graphColorSix: #DB6C79;
}

body {
  font-family: var(--primaryFont);
}

