/* login styling */
  
  .rainbowLoginHeader {
    height: 35vh;
    background: url(../assets/images/rainbowHeader.png);
    margin-bottom: 8rem;
  }
  
  .signUpHeader {
    height: 35vh;
    border-right: 2.7px dotted #00000027;
  }
/*   
  .contentBorder {
    border-right: 2.7px dotted #00000027;

  } */
  
  .signupButton {
    background: linear-gradient(to left top, #e6b9b6, #ffd9ad) ;
    border-radius: 27px;
    color: var(--secondaryColor);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
  }

  .signupButton:hover {
    background-color:#00000027;
  }


  .loginButton {
    background: linear-gradient(to left top, #cae9e5, #e7f0c3) ;
    border-radius: 27px;
    color: var(--secondaryColor);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
  }


  .signuploginTitle {
    background-color: #000000b9;
    color: var(--primaryColor);
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .7rem;  
  }

  .form-input {
      background-color: #f1f1f1;
  }

  .card-header {
      background-color: #000000d2;
      color: var(--primaryColor);
  }

  .signuploginCards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


  /* media queries */
  @media only screen and (max-width: 768px) {
    .contentBorder {
      border-right: none;
    }
  }

