.rainbowAboutHeader {
    height: 16rem;
    background: url(../assets/images/rainbowHeader.png);
    margin-bottom: 8rem;
}

.aboutHeading {
    font-size: 3.2rem;
}


.topBorder {
    border-top: var(--secondaryColor) 2px dotted;
    margin-bottom: 150px;
}

.carouselStyle {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headshot {
    height: 220px;
    width: 220px;
}

.githublink {
    color:black;
}

.linkedinlink {
    color: black;
}

.githublink:hover {
    color: var(--graphColorTwo);
  }

  .linkedinlink:hover {
    color: var(--graphColorFive);
  }
