.headerBackground{
  background: linear-gradient(180deg, #e2f3a2 33.69%, rgba(196, 196, 196, 0) 81.36%);
  height: 14vh;
 
  margin-bottom: 10vh;
}

.rainbowMiniHeader {
    height: 10vh;
    background: url(../assets/images/rainbowHeader.png);
    margin-bottom: 8rem;
}

.arrow {
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-name: arrows_animation;
    transform: translateX(-100%);
  }
  
  @keyframes arrows_animation {
    0% {
      animation-timing-function: ease-out;
      
    }

    50% {
      animation-timing-function: ease-in;
      transform: translateX(50vw);
    }

    100% {
      transform: translateX(100vw);
    }
  }

  .logBtn:hover {
    background: linear-gradient(to left top, #f3e284, #e4f3a8) ;
    color: var(--secondaryColor);
  }

  .doseButton:hover {
    background: linear-gradient(to left top, #f3e284, #e4f3a8) ;
    color: var(--secondaryColor);
  }

  .doseButton:focus {
    background: linear-gradient(to left top, #f3e284, #e4f3a8) ;
    color: var(--secondaryColor);
  }

  .moodButton:hover {
    background: linear-gradient(to left top, #bbe2dd, #e5f5a5) ;
    color: var(--secondaryColor);
}

.moodButton:focus {
  background: linear-gradient(to left top, #bbe2dd, #e5f5a5) ;
  color: var(--secondaryColor);
}

  @media only screen and (max-width: 600px) {
    .rainbowMiniHeader {
      height: 20vh;

    }


  }