.carousel {

  margin-top: 50px;
  margin-bottom: 50px;

}

img{
    height: 100%!important;
}


.text-bg{
  background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
  
}

.dose {
  background-color: black;
  color: white;
  line-height: 2;
}


