

img{
    height: 100%!important;
}

.microDose{
font-size: 100px;
  background: linear-gradient(to right, rgb(243, 98, 98), pink, rgb(230, 230, 130), rgb(240, 196, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg{
  background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
  
}

.dose {
  color: black;
  line-height: 2;
  border:black 2px dotted;
  width: 70vw;
  font-size: 14px;
}

.headerCard {
  background: none;
  border: none;
}


.homeHeader {
  background: radial-gradient(50% 50% at 50% 50%, #EF8693 48.96%, rgba(196, 196, 196, 0) 100%);

}

.cardBody {
  font-size: 24px;
}

@media screen and (max-width: 991px) { 
  .cardBody {
    font-size: 20px;
  }
 }

@media screen and (max-width: 767.98px) { 
  .cardBody {
    font-size: 15px;
  }
 }

@media only screen and (max-width: 675px) {
  .microDose {
   font-size: 50px;
  }
}

@media only screen and (max-width: 1291px) {
  .microDose {
   font-size: 50px;
  }
}