.submitBtn {
    background: linear-gradient(to left top, #f08d7c, #f7c274) ;
    border-radius: 27px;
    color: var(--secondaryColor);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    font-size: 1.4rem;
}

.cancelBtn {
    background: linear-gradient(to left top, #bbe2dd, #e5f5a5) ;
    border-radius: 27px;
    color: var(--secondaryColor);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    font-size: 1.4rem;
}

.moodBtn {
    font-size: 1rem;
    margin-top: .6rem;
    border-radius: 22px;
}


.trialDropdown {
    font-size: 1.2rem;
    margin-top: .6rem;
    border-radius: 22px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

.trialDropdown:hover {
    background: linear-gradient(to left top, #f3e284, #e4f3a8) ;
    color: var(--secondaryColor);
}



.lowScoreHover:hover {
    background: linear-gradient(to left top, #f08d7c, #f7c274) ;
    color: var(--secondaryColor);
}

.lowScoreHover:focus {
    background: linear-gradient(to left top, #f08d7c, #f7c274) ;
    color: var(--secondaryColor);
}

.positiveScoreHover:hover {
    background: linear-gradient(to left top, #f3e284, #e4f3a8 );
    color: var(--secondaryColor);
}

.positiveScoreHover:focus {
    background: linear-gradient(to left top, #f3e284, #e4f3a8 );
    color: var(--secondaryColor);
}

.avgScoreHover:hover {
    background: linear-gradient(to left top, #bbe2dd, #e5f5a5) ;
    color: var(--secondaryColor);
}

.avgScoreHover:focus {
    background: linear-gradient(to left top, #bbe2dd, #e5f5a5) ;
    color: var(--secondaryColor);
}
